.App {
    font-family: sans-serif;
    text-align: center;
    margin-top: 70px;
}

body {
    background-image: url(./Beer.jpg);
    background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    height: fit-content;  
}

form {
    align-content: center;
    display: grid;
}
button {
    background-color: darkred;
    color: white;
}

form input {
    border-radius: .1in;
    background-color: darkred; 
    color: white;   
}

form  button{
    border-radius: .1in;
}

nav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    justify-content: space-around;
    top: 0;
    min-height: .5vh;
    width: 99.2%;
    border-radius: .1in;
    z-index: 10;
   
}

.nav-links {
    width: 40%;
    display: flex;
    color: #f2f2f2;
    justify-content: space-around;
    text-align: center;
    
    list-style: none;
    border-radius: .5in;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-links li:hover {
    background: #ddd;
    color: black;
    border-radius: .2em;
}

.thumbnail iframe {
    width: 1440px;
    height: 900px;

}


.thumbnail {
    position: relative;
    -ms-zoom: 0.25;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
}

.thumbnail:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.thumbnail-container {
    width: calc(1440px * 0.75);
    height: calc(900px * 0.75);
    display: inline-block;
    overflow: hidden;
    position: relative;
}