.App {
    font-family: sans-serif;
    text-align: center;
}



body {
    background-image: url(./Beer.jpg);
    background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    
}